# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# SwiftPM
.swiftpm/xcode
.build/

# Misc
*.DS_Store
